body{
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.container{
    display: inline;
    flex-wrap: flex;
   
}

header{
    text-align: center;
    width: 60%;
    margin: auto;
    display: block;
    font-family: 'Splash';
    color: white;

    
}

.head{
   
    
}
h1{
    
    width: 50%;
    display: block;
    margin: auto;
   
    
}

h3{
    width: 60%;
    display: inline-block;
    margin-top: 0.5rem;
    
}

.btc{
    width: 12%;
    float: left;
    animation: rotation1 2.5s infinite linear;
    
}

.ltc{
    float: right;
    width: 12%;
    animation: rotation0 2.5s infinite linear;
}

.nav-bar {
  
    text-align:center;
    word-spacing: 4500%;
    border: solid dimgrey 1px;
    margin-top: 1.5rem;
  
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Splash', cursive;
}

.main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-left: 4rem;
}

.picture {
    width: 45%;
    

}

.picture > img {
   width: 100%;
}



.exchange{
    border: 3px solid white;
    width: 40%;
    text-align: center;
    margin-left: 6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#from, #to {
    width: 20%;
    height: 40px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    background: url(fff-0-2.png) repeat;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    outline: none;
    
    

}

input[type="number"]{
    width: 20%;
    height: 40px;
    background: url(fff-0-2.png) repeat;
   
}

.first, .second{
  
    border: 1px solid black;
}

@keyframes rotation0 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }

  @keyframes rotation1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

