body{
    background-color: dimgray;

}

.container{
    display: inline;
    flex-wrap: flex;
   
}

header{
    text-align: center;
    width: 60%;
    margin: auto;
    display: block;
    font-family: 'Splash';
    
    


}

.head{
    background: #2513CF;
    background: linear-gradient(to right, #2513CF 0%, #CF136B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
h1{
    
    width: 50%;
    display: block;
    margin: auto;
   
    
}

h3{
    width: 60%;
    display: inline-block;
    margin-top: 0.5rem;
    
}

.btc{
    width: 12%;
    float: left;
    animation: rotation1 2.5s infinite linear;
    
}

.ltc{
    float: right;
    width: 12%;
    animation: rotation0 2.5s infinite linear;
}

.nav-bar {
  
   text-align:center;
   word-spacing: 4000%;
    border: solid dimgrey 1px;
    margin-top: 1.5rem;
   
}


@keyframes rotation0 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }

  @keyframes rotation1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

